/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f9f9f9
}

code {
    font-size: 0.7rem;
    display: block;
    background-color: whitesmoke;
}