.reset-wrapper{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border:1px solid #e6e6e6;
    padding: 20px;
    width: 340px;
    margin: 0 auto;
    background-color: #fff;
    
}

.reset-footer{
    text-align: center;
}