<section class="reset-section">
        <div class="row mt-4">
            <div class="reset-wrapper">
                <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                    <!-- Alert error server -->
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" [hidden]="!hasError">
                        {{errorMessage}}
                        <button type="button" class="close" (click)="onCloseAlert()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Form group email -->
                    <div class="form-group">
                        <label for="email"><strong>Enter your email address and we will send you a link to reset your password.</strong></label> 
                        <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="form.email"
                            #email="ngModel" required email [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched),
                                                     'is-valid': email.valid }">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Enter your email</div>
                            <div *ngIf="email.errors.email">Enter a valid email</div>
                        </div>
                    </div>
                   
    
                    <div class="form-group">
                        <button type="submit" [disabled]="f.form.invalid" class="btn btn-success w-100">Sign
                            in</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
<ngx-spinner></ngx-spinner>